html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS Reset above */

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

/* Nav */
nav {
  background: #8878FF;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.inner-nav {
  width: 95%;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
}

nav .logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

nav .page-nav-container a {
  font-size: 1.2rem;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

nav .page-nav-container a {
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  margin-right: 2rem;
}

nav .page-nav-container.logged-out a:last-of-type {
  color: #2E29FA;
  background: #fff;
  padding: .7rem 1.4rem;
  border-radius: 5px;
}

/***** Login/Sign Up Form *****/
.con-inner-container {
  width: 95%;
  max-width: 968px;
  margin: 3rem auto;
}

.con-inner-container form {
  width: 98%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 2px 6px 8px rgba(0,0,0,.15);
}

.con-inner-container form h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  color: #3b3b3b;
  font-family: 'Roboto', sans-serif;
}

.con-inner-container form input {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  min-height: 40px;
}

.con-inner-container form input[type="text"], .con-inner-container form input[type="password"] {
  padding: 0 1rem !important;
  border: 1px solid #8878FF;
  font-size: 1.1rem;
}

.con-inner-container form input.name {
  display: inline-block;
  width: 49%;
}

.con-inner-container form input.name:first-of-type {
  margin-right: 2%;
}

.con-inner-container form input[type="submit"] {
  border: none;
  border-radius: 5px;
  background: #9183FF;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  font-size: 1.25rem;
}

.con-inner-container form input[type="submit"]:hover {
  cursor: pointer;
}

.con-inner-container form ::placeholder {
  color: #5c5c5c;
  font-size: 1.1rem;
}

/* Profile/Posts */

.hero {
  width: 100%;
  height: 25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.15))), url("https://images.unsplash.com/photo-1541417904950-b855846fe074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1925&q=80");
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.15)), url("https://images.unsplash.com/photo-1541417904950-b855846fe074?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1925&q=80");
  background-position: center;
  background-size: cover;
}

.user-info {
  height: 20vh;
  background: -webkit-gradient(linear, left top, left bottom, from(#8878FF), to(#9183FF));
  background: linear-gradient(#8878FF, #9183FF);
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}

.user-info * {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5));
}
.user-info .inner-container {
  width: 100%;
  max-width: 1100px;
  margin: auto;
}

.user-info .left-container {
  width: 60%;
  transform: translateX(18%);
  justify-content: space-around;
}

.user-info .left-container > * {
  display: inline-block;
  width: 33%;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.user-info .left-container * {
  color: #f7f7f7;
}

.user-info .inner-container * {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5));
}
.user-info .person-container {
  position: absolute;
  top: -75px;
  left: 30px;
  width: 275px;
  /* -webkit-transform: translatex(-50%);
          transform: translatex(-50%); */
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}
.user-info .person-container * {
  text-align: center;
}
.user-info .person-container .name {
  margin: -5rem 0 1rem;
  font-size: 2.5rem;
  color: #f7f7f7;
  text-shadow: 1px 1px 10px black;
  letter-spacing: 1px;
}
.user-info .person-container .bio {
  line-height: 1.3;
  font-size: 1.1rem;
  margin-top: 1rem;
  color: #f7f7f7;
}
.user-info img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 8px solid #fff;
}

.user-info .inner-container {
  display: -webkit-box;
  /* display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between; */
}
.user-info .inner-container .left-container, .user-info .inner-container .right-container {
  display: -webkit-box;
  display: flex;
  transform: translateX(30%);
}
.user-info .inner-container .left-container > *, .user-info .inner-container .right-container > * {
  margin-left: 1rem;
  margin-right: 1rem;
  color: #f7f7f7;
}

.new-post-container {
  margin-bottom: 2rem;
}

.new-post-container h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
  color: #5c5c5c;
}

.new-post-container input[type="text"] {
  display: block;
  width: 95%;
  max-width: 425px;
  margin: 0 auto 1rem;
  height: 35px;
  font-size: 1.1rem;
  border-color: #9183FF;
}

.new-post-container button {
  background: #8878FF;
  color: #f7f7f7;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
}

.new-post-container button:hover {
  cursor: pointer;
}

.post-container {
  padding-top: 5rem;
}
.post-container .inner-container {
  max-width: 725px;
  margin: auto;
}

.post-container .form-container {
  background: #ededed;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}
.post-container .form-container h3 {
  font-size: 2rem;
  color: #3b3b3b;
}
.post-container .form-container textarea {
  display: block;
  width: 99%;
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: .5rem;
  font-size: 1.5rem !important;
}
.post-container .form-container ::-webkit-input-placeholder {
  font-size: 1.2rem;
}
.post-container .form-container ::-moz-placeholder {
  font-size: 1.2rem;
}
.post-container .form-container :-ms-input-placeholder {
  font-size: 1.2rem;
}
.post-container .form-container ::-ms-input-placeholder {
  font-size: 1.2rem;
}
.post-container .form-container ::placeholder {
  font-size: 1.2rem;
}
.post-container .form-container input[type="submit"] {
  background: #8878FF;
  color: #f7f7f7;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
}

.post {
  background: #ededed;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 4px 6px 6px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.25rem;
}
.post .user-container > * {
  margin-right: 1rem;
}
.post .user-container span {
  font-weight: bold;
  color: #3b3b3b;
  font-size: 1.35rem;
}
.post img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.post p {
  margin-top: 1.5rem;
  line-height: 1.6;
  font-size: 1.15rem;
}
.post .post-interaction-container {
  display: -webkit-box;
  display: flex;
  align-content: center;
  position: relative;
}
.post .post-interaction-container .btns-container > * {
  margin-right: 1rem;
}
.post .post-interaction-container .likes-container {
  margin-top: 1.5rem;
  margin-left: auto;
  font-size: 1.5rem;
  color: #8878FF;
}
.post .post-interaction-container .likes-container span {
  font-weight: bold;
}
.post .add-comment, .post .add-like, .post .add-reply, .post button {
  background: #8878FF;
  color: #f7f7f7;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
}

.post .delete-post {
  display: inline-block;
  margin-left: auto;
}

.post .add-like span {
  display: inline-block;
  margin-right: .5rem;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.post .add-like:hover span {
  color: #EB8EFD;
}

.comment-container {
  margin-top: 1rem;
}

.comment {
  background: #fff;
  margin-bottom: .75rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid #cecece;
}
.comment .commenter-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3b3b3b;
}
.comment p {
  margin-top: .5rem;
}

.reply-container {
  width: 93%;
  margin-left: auto;
  margin-top: .5rem;
  background: #ededed;
  padding: .5rem 1rem;
  border-radius: 5px;
  margin-bottom: .5rem;
  border: 1px solid #cecece;
}
.reply-container .replier-name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #3b3b3b;
}

/******** Landing Page ********/

.landing-page * {
  text-align: left;
}

.landing-page .landing-hero {
  height: 90vh;
  max-height: 300px;
  background: linear-gradient(to bottom, #8878FF, #9183FF);
  padding-top: 2rem;
}

.landing-hero .inner-container {
  width: 95%;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.landing-hero h1 {
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  max-width: 650px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  letter-spacing: 1px;
  color: #f7f7f7;
  text-shadow: 0 0 5px rgba(0,0,0,.5);
}

.landing-hero p {
  margin-top: 2rem;
  color: rgba(255, 255,255,.85);
  text-align: center;
  font-size: 1.25rem;
  text-align: center;
  max-width: 600px;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

.landing-page svg {
  z-index: 10;
  transform: rotateX(180deg);
}

.intro-section {
  position: relative;
}

.feature-container {
  width: 90%;
  max-width: 600px;
  background:#fff;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 6px 8px rgba(0,0,0,.15);
}

.feature-container .individual-feature {
  display: flex;
  margin-bottom: .5rem;
}

.individual-feature .photo-container {
  flex-basis: 40%;
}

.individual-feature .photo-container img {
  width: 200px;
}

.individual-feature .content-container {
  flex-basis: 60%;
  padding: 0 1rem;
}

.individual-feature .content-container h2 {
  padding-top: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #2E29FA;
  font-size: 1.1rem;
  margin-bottom: .75rem;
}

.individual-feature .content-container p {
  line-height: 1.5;
  color: #5c5c5c;
  font-family: 'Roboto', sans-serif;
}

.landing-page .additional-section {
  margin-top: 15rem;
}

.landing-page .additional-section .inner-container {
  width: 95%;
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.additional-section .item-container {
  display: flex;
  margin-bottom: 3rem;
}

.additional-section .img-container {
  flex-basis: 40%;
}

.additional-section .img-container img {
  max-width: 100%;
}

.additional-section .content-container {
  flex-basis: 60%;
  padding-left: 3rem;
}

.additional-section .content-container h4 {
  font-size: 1.75rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  color: #2E29FA;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.additional-section .content-container p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: #5c5c5c;
  font-family: 'Roboto', sans-serif;
}

/* User index */

.userContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95%;
  max-width: 968px;
  margin: 4rem auto;
}

.userCard {
  margin: 1rem 1.25rem;
  background: #f7f7f7;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 4px 8px rgba(0,0,0,.15);
  text-decoration: none;
}

.userCard h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

/* Posts index page */

.posts-inner-container {
  width: 95%;
  max-width: 725px;
  margin: 3rem auto;
}

.post * {
  font-family: 'Roboto', sans-serif;
}

.posts-inner-container .user-container {
  text-align: left;
}

.posts-inner-container .user-container span {
  color: #3b3b3b;
}

.posts-inner-container .post p {
  text-align: left;
  color: #5c5c5c;
}

.posts-inner-container .post-interaction-container {
  display: flex;
  flex-direction: column;
}

.posts-inner-container .btns-container button {
  margin-bottom: 1rem;
}

.posts-inner-container span.commenter-name {
  font-size: 1.05rem;
  color: #3b3b3b;
  font-weight: 400;
  text-align: left;
  width: 100%;
  display: block;
}

.posts-inner-container span.commenter-name img {
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 1rem;
}

.posts-inner-container .btn-container {
  margin-top: .5rem;
  display: flex;
}

.posts-inner-container .btn-container button {
  border: none;
  padding: .5rem 1rem;
  background: #9183FF;
  border-radius: 5px;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0,0,0,.15);
  margin-left: auto;
}

.posts-inner-container button:hover {
  cursor: pointer;
}

.posts-inner-container input.newComment {
  min-height: 35px;
  width: 100%;
}

/* user page */
.post .post-interaction-container {
  flex-direction: column;
}

.post .post-interaction-container .btns-container {
  margin-bottom: 1rem;
}

.post .post-interaction-container {
  text-align: left;
}

.post .post-interaction-container .comment-content {
  margin-top: 1rem;
}